<div class="blog">
    <div class="blog-heading">
        <div class="blog-name">
            <h2>{{title}}</h2>
        </div>
        <div class="blog-date">
            <p>Posted by {{user.username}} on {{format_date date_created}}</p>
        </div>
        <div class="blog-content">
            <p>{{contents}}</p>
        </div>
        {{#if logged_in}}
        <div class="add-comment">
            <form action="/api/comments" method="post" class="form add-comment-form">
                <div class="form-group">
                    <label for="add-comment">Comment</label>
                    <input class="form-input" id="comment_body" name="comment_body">
                </div>
                <input type="hidden" name="blog_id" id="blog_id" value="{{id}}">
                <button class="btn btn-primary" type="submit">Add Comment</button>
            </form>
        </div>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </div>
    <div>
        {{#each comments as |comment|}}
        <p>{{comment.comment_body}}</p>
        {{/each}}
    </div>
</div>