<section class="row">
    <div class="col-md-6">
        <h2>New Blog Post</h2>

        <form class="form new-blog-form">
            <div class="form-group">
                <label for="blog-title">Title</label>
                <input class="form-input" type="text" id="blog-title" name="blog-title" />
            </div>
            <div class="form-group">
                <label for="blog-content">Content</label>
                <input class="form-input" id="blog-content" name="blog-content">
            </div>
            <div class="form-group"></div>
            <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</section>

{{#if blogs.length}}
<section>
    <div class="col-md-6 blog-list">
        <h2>My Blog Posts</h2>
        <ol>
            {{#each blogs as |blog|}}
            <li>
                <div class="row mb-2" id="blog">
                    <div class="col-md-8" id="blog-heading">
                        <div class="blog-title" id="blog-title">
                            <h3>{{title}}</h2>
                        </div>
                        <div class="blog-date" id="blog-date">
                            <p>Posted on {{format_date date_created}}</p>
                        </div>
                        <div class="blog-content" id="blog-content">
                            <p>{{contents}}</p>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-sm btn-danger" data-id="{{user_id}}">DELETE</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-sm btn-primary" data-id="{{user_id}}">UPDATE</button>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
</section>
{{/if}}

<script src="/js/dashboard.js"></script>